<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <main>
        <h1>Redefinir Senha</h1>
        <div class="botoes">
            <form action="">
                <label for="email">

                    <span>Para redefinir a senha informe seu E-mail</span>
                    <input type="text" id="email" name="email">
                </label>

                <input type="submit" value="Redefinir Senha">
                <a href="/" class="botao">Voltar para Login</a>

            </form>
        </div>
    </main>
</body>

</html>