<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="cabecalho">
            <a rel="index.html" href="../index.html">
                <img class="images" src="../images/house_button.png" alt="Home_button">
            </a>
            <a rel="treino.html" href="treino.html">
                <img class="images" src="../images/treino_button.png" alt="Home_button">
            </a>
        </div>
        <main class="caixa_maior">
            <h1 class="Treino">Seu treino!</h1>
            <label for="dados_titulo">
                <img class="images_texto" src="../images/corredor.png" alt="corredor">
                <span>seu treino corrida</span>
            </label>
            <label for="dados_titulo">
                <img class="images_texto" src="../images/flexao.png" alt="flexao">
                <span>seu treino flexao</span>
            </label>
            <label for="dados_titulo">
                <img class="images_texto" src="../images/flexao.png" alt="flexao">
                <span>seu treino agachamento</span>
            </label>
        </main>

    </div>
</body>

</html>